.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
}

.seção1 {
  background: url("/seção1/capa_psicologos_de_valor.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.seção1 .h1{
  font-size: 60px;
  font-weight: 600;
  display: block;
  line-height: 58px;
}

.seção1 .h3 {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 2px 0;
}

.seção1 .h3:nth-child(6){
  margin-bottom: 20px;
}

.topBar {
  padding: 13px 0;
  width: 100vw;
  background-color: #3f1a8d;
  margin-bottom: 40px;
}

@media screen and (max-width: 500px){
  .seção1{
    height: 100%;
  }
  .topBar {
    font-size: 15px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .seção1 .h1{
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .seção1 .h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 10px 0;
  }

  .seção1 iframe {
    width: 90%;
    height: 250px;
  }
}
